. {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}

:root {
  /* 1a2023 */
  --darkest: #121212;
  --dark-color: #121212;
  --light-color: #b8b8d1;
  --lightest-color: #fffffb;
  --lime: #CDDC39;
  --project-bg-dark: rgb(0, 160, 252);
  --project-bg-light: rgb(161, 217, 231);
  --profile-bg-dark: rgb(22, 26, 236);
  --profile-bg-light: rgb(213, 209, 233);
}

html {
  /*since html is basically of text , thus name is just color*/
  font-family: 'Raleway', sans-serif;
  /*arial for backup if internet connection is not working , sans-serif is a  css keyword*/
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /*for smooth rendering of text*/
  text-decoration: none;
}

body {
  padding-top: 0em;
  margin: 0;
  padding: 0;
}

/**Custom view**/


*:not(i) {
  font-family: 'Raleway', sans-serif;
}


#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  overflow: visible;
  background: #fff url('preloader.gif') no-repeat center center;
}


nav {
  margin-top: 1em;
  margin-right: 4%;
  margin-left: 4%;
  background-color: #fffffb;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  width: 92%;
  border-radius: 15px;
  box-shadow: .1em .1em 1em #121212;
}

nav ul {
  margin-top: .2em;
  margin-bottom: .2em;

}

nav a {
  color: var(--dark-color);
}

.top {
  height: auto;
  margin: 0;
  padding-top: 7em;
  padding-bottom: 4em;
}

.fixed-top {
  background-color: var(--lightest-color);
}

.lead a {
  background-color: #232226;
}

.lead a:hover {
  background-color: #0049ff;
}


.lead {
  margin: 0;
  margin-bottom: 3em;
}

.nav-link {
  font-family: 'Bebas Neue';
  letter-spacing: .05em;
  font-size: 1.2em;
  margin-right: 1.3em;
}

.navbar-light {
  color: var(--dark-color);
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom: .2em solid var(--lime);
  color: var(--dark-color);
}

.nav-link.active {
  border-bottom: .2em solid orange;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark-color);
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.header-content {
  padding-top: 0;
  margin-top: 0;
}


/* Floating Social Media Bar Style Starts Here */

.float-sm {
  color: var(--dark-color);
}

.float-sm i {
  font-size: 1.8em;
  padding-left: .2em;
  margin-top: .5em;
  color: var(--dark-color);
}


.fl-fl {
  background: var(--lime);
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .5em;
  width: 19em;
  position: fixed;
  right: -16em;
  font-size: .8em;
  z-index: 1000;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

  color: var(--dark-color);
  border-radius: .6em;
  padding-right: .2em;
  margin: 0;
  font-size: .8em;
  border: .1em #121212;
}


.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
  color: var(--dark-color) !important;
  font-size: .7em;
}

.fl-fl a:hover {
  text-decoration: none;
}


.float-tw {
  top: 21em;
  width: ;
}

.float-gp {
  top: 26.4em;
}

.float-rs {
  top: 31.8em;
}

.float-ig {
  top: 37.2em;
}

/* Floating Social Media Bar Style Ends Here */



.img-fluid {
  max-height: 43vh;
}

.header-img {
  position: center;
  height: 40vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 1em;
}

.typewriter .wrap {
  color: var(--lime);
  font-family: 'Bebas Neue';
  letter-spacing: .1em;
  font-size: 1.3em;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 75%;
  }

  animation-iteration-count: infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--lime);
  }

  animation-iteration-count: infinite;
}

@media only screen and (max-width:980px) {

  html,
  body {
    font-size: 0.8em;
  }

  .header-img {
    height: 30vh;
    padding-top: 0em;
    margin-top: 2em;
  }

  .top {
    padding-top: 2.5em;
  }

  nav a {
    width: 92%;
  }

  .text-center {
    padding-top: 0;
  }
}

.about-text {
  text-align: justify;
  padding-left: 4%;
  padding-right: 4%;
}

.about-hncc {
  padding-bottom: 3em;
}

.about-hncc .card {
  margin-left: 8%;
  margin-right: 8%;
}

.about-hncc .card li {
  text-align: justify;
  list-style: none;
}

.tech-stacks li {
  text-transform: uppercase;
  box-shadow: 0 .4em 1em 0 rgba(0, 0, 0, 0.2);
  padding-left: .4em;
  margin-left: 0;
  letter-spacing: .1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .4em;

  display: inline-block;
  margin-bottom: 1.5em;

  -webkit-animation-name: shake;
  -webkit-animation-duration: 4.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 50% 100%;


}


@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(3deg);
  }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-2deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(4deg);
  }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}


.tech-stacks ul {
  text-align: center;
}

.about-hncc .card:hover {
  box-shadow: 0 1.5em 3em 0 rgba(0, 0, 0, 0.2);
  color: black;
  transition: .8s;
}

.branchChart {
  width: 20em;
  height: auto;
  padding-right: 2em;
  padding-bottom: 4em;
}

.distChart {
  width: 20em;
  height: auto;
  padding-right: 2em;
  padding-bottom: 4em;
}

.carousel {
  margin: auto;
  margin: auto;
  width: 80%;
  height: auto;
  align-content: center;
}

.stats {
  border-top: .5em solid black;
}

.stat {
  margin-left: 2em;
  margin-right: 2em;
}

.stat .card {
  padding-top: 2em;
  padding-bottom: 2em;
  border: none;
  margin-left: auto;
}

.stat i {
  color: #607D8B;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}




















#events .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1.5em;

}

/* On mouse-over, add a deeper shadow */
#events .card:hover {
  box-shadow: 0 1.5em 3em 0 rgba(0, 0, 0, 0.2);
}

.judges {
  background-color: rgb(224, 222, 224);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

img {
  border-radius: 5px 5px 0 0;
}

.about-hackatron {
  background-color: var(--lightest-color);
  padding-top: .5em;
  padding-bottom: 4em;
}

.about-hackatron img {
  padding-left: 2em;
  padding-right: 4em;
  padding-bottom: 1.5em;
}

.mascot {
  background-color: var(--dark-color);
  color: white;
  padding-top: 2em;
}

.mascot img {
  width: 25em;
  height: auto;
  padding-left: 2em;
  padding-right: 4em;
  padding-bottom: 1.5em;

}

#events {
  border-bottom: .4em solid black;
  box-shadow: 0 .2em 0 0 rgba(0, 0, 0, 0.2);
}

.sec {
  background-color: var(--dark-color);
  color: #fffffb;
}

.prizes {
  background-color: var(--dark-color);
}

.sponsors .card {
  border-color: #fffffb;
  padding-top: 2em;
}

.faq {
  margin-bottom: 3em;
  background-color: var(--dark-color);
}

.faq h1,
.faq h2 {
  color: var(--lightest-color);
}

.accordion {
  background-color: var(--dark-color);
  color: var(--lightest-color);
}

footer {
  padding-top: 2.5em;
  text-align: center;
  padding-bottom: 2em;
}

footer a {
  color: var(--light-color);
}

footer a:hover {
  color: var(--lightest-color);
  text-decoration: none;
  font-size: 1.2em;
}

/*******************************************************************************************88
*****************************************************************************************************
				MEMBERS SECTION
******************************************************************************************************
*****************************              ***************************************************/


.team-header {
  text-align: center;
  color: var(--lightest-color);
  padding-top: 20vh;
  padding-bottom: 10vh;
  background-color: var(--dark-color);
}

.team-section .row {}

.founders .card {
  border: none;
  margin-bottom: 1em;
  padding-bottom: 0em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  padding-top: 1em;
  border-radius: 1em;
  filter: grayscale(100%);
}

.team-section img {
  width: 13em;
  margin: auto;
}


.team-section .card:hover {
  box-shadow: 0 1.5em 3em 0 rgba(0, 0, 0, 0.2);
  transition: .5s;
  filter: none;
}

.team-section a {
  color: #b8b8d1;
}

.team-section a:hover {
  color: var(--dark-color);
}

.post-bearers .card {
  width: 10em;
  height: auto;
  border: none;
  padding: 0;
  margin: 0;
  filter: grayscale(100%);
}

.post-bearers .card-columns {
  padding: 0em;
}

.post-bearers img {
  width: 13em;
  height: auto;
}

.img-responsive {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {

  .founders .card {
    /*By this margin auto it is centering*/
    margin: auto;
    margin-bottom: 1em;
  }
}



@media (max-width: 26em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-left: 2em;
  }

  .hovereffect a.info {
    font-size: 1.2em;
    padding: .1em .25em;
    border: .2px solid #fff;
    margin-right: .02em;
  }
}

@media (max-width: 18em) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-left: 4em;
  }
}


@media (min-width: 26em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 48em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 62em) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(0) blur(0);
  -webkit-filter: grayscale(0) blur(0);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 1.1em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect h5 {
  text-align: center;
  position: relative;
  font-size: .7em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: var(--lightest-color);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: .15em .4em;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info,
.hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


/*----------- PROJECT SECTION -------------*/

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 10px;
  margin-bottom: 2rem;
  min-height: 22rem;
  margin-right: 10px !important;
  margin-left: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  transition: all 0.3s ease 0s;
}

.project-card:hover {
  box-shadow: 0 1.5em 3em 0 rgba(0, 0, 0, 0.2);
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 2rem;
}

.rule {
  width: 45%;
  opacity: 1;
  border-bottom: 1px solid rgb(160, 158, 158);
  transition: all .8s ease-in-out .2s;
}

.project-card:hover .rule {
  width: 90%;
}

.project__img-box {
  background:
    linear-gradient(to bottom, var(--project-bg-dark) 0%, var(--project-bg-light) 50%, transparent 50%);
  border-right: 2px solid var(--project-bg-dark);
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 30%;
}

.img-box {
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  height: 18rem;
  width: 17rem;
  align-items: center;
  justify-content: center;
}

.project__img {
  /* height: 100%; */
  width: 100%;
}

@media (max-width: 600px) {
  .project-card {
    flex-direction: column;
  }

  .project__img-box {
    background:
      linear-gradient(to bottom right, var(--project-bg-dark) 0%, var(--project-bg-light) 100%);
    border-top-right-radius: 10px;
    border-right: 0;
    padding: 3rem;
    width: 100%;
  }

  .img-box {
    height: 18rem;
    width: 18rem;
  }

  .project-description {
    width: 100%;
  }
}

/*------------- TESTIMONIAL SECTION --------------*/

#testimonial {
  border-bottom: .4em solid black;
  box-shadow: 0 0.2em 0 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 3rem;
}

#testimonial-carousel .carousel-item {
  color: #fff;
  padding: 3rem 2rem;
  border: 1px solid rgb(191, 184, 226);
  border-radius: 10px;
  background: linear-gradient(to right bottom, var(--profile-bg-dark), var(--profile-bg-light));
}

.testimonial-carousel-icon {
  color: #000;
  font-size: 3rem;
}

#testimonial-carousel .carousel-inner {
  padding: 0 10rem;
}

@media (max-width: 800px) {
  #testimonial-carousel {
    width: 95%;
  }

  #testimonial-carousel .carousel-inner {
    padding: 0;
  }

  #testimonial-carousel .carousel-item {
    padding: 2rem 5rem;
  }

  .testimonial-carousel-icon {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  #testimonial-carousel .carousel-item {
    padding: 3rem;
  }
}