.{
	margin:0px ;
	padding:0px ;
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 100%;
	overflow-x:hidden; 

}

:root {
	/*1a2023*/
    --darkest:#121212;
    --dark-color:#121212;
    --light-color:#b8b8d1;
    --lightest-color:#fffffb;
    --lime:#CDDC39;
} 

html{
	/*since html is basically of text , thus name is just color*/
	font-family: 'Raleway', sans-serif;
	/*arial for backup if internet connection is not working , sans-serif is a  css keyword*/
	font-weight: 300;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	overflow-x: hidden;
	/*for smooth rendering of text*/
	text-decoration: none;
}

body{
	padding-top: 0em;
	margin: 0;
	padding: 0;
}
/**Custom view**/


*:not(i){
	font-family: 'Raleway', sans-serif;
}

#preloader {
    background: url('preloader.gif') no-repeat center center;
    background-color: rgba(255,255,255,1) ;
    position: absolute;
    height:100%;
    width: auto;
    z-index: 9999999;
    align-content: center;
}




nav{
	margin-top: 1em;
	margin-right: 4%;
	margin-left: 4%;
    background-color:#fffffb ;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    width: 92%;
    border-radius: 15px;
    box-shadow: .1em .1em 1em #121212;
}

nav ul{
	margin-top: .2em;
	margin-bottom: .2em;
	
}

nav a{
	color: var(--dark-color);
}

.top{
  height: auto;
  margin:0;
  padding-top: 7em;
  padding-bottom: 4em;
}

.fixed-top{
  background-color: var(--lightest-color);
}

.lead a {
  background-color: #232226;
}

.lead a:hover{
  background-color: #0049ff;
}


.lead{
  margin: 0;
  margin-bottom: 3em;
}

.nav-link{
 	

}

.navbar-light{
  color: var(--dark-color);
  text-transform: uppercase;
}

.nav-link:hover{
  border-bottom: .2em solid var(--lime);
  color: var(--dark-color);
}

.nav-link.active{
  border-bottom: .2em solid orange;
}

.navbar-light .navbar-nav .nav-link{
	color: var(--dark-color);
}

.navbar-collapse.collapse.in {
  display: block!important;
}

.header-content{
	padding-top: 0;
	margin-top: 0;
}


/* Floating Social Media Bar Style Starts Here */

.float-sm{
	color: var(--dark-color);
}

.float-sm i{
	font-size: 1.8em;
	padding-left: .2em;
	margin-top: .5em;
	color: var(--dark-color);
}


.fl-fl {
  background: var(--lime);
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .5em;
  width: 19em;
  position: fixed;
  right: -16em;
  font-size: .8em;
  z-index: 1000;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;

  color: var(--dark-color);
  border-radius: .6em;
  padding-right: .2em;
  margin: 0;
  font-size: .8em;
  border: .1em #121212;
}


.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
  color: var(--dark-color) !important;
  font-size: .7em;
}

.fl-fl a:hover{
	text-decoration: none;
}

/*.float-fb {
  top: 20em;
}*/

.float-tw {
  top: 21em;
  width: ;
}

.float-gp {
  top: 26.4em;
}

.float-rs {
  top: 31.8em;
}

.float-ig {
  top: 37.2em;
}

/*.float-pn {
  top: 435px;
}*/
/* Floating Social Media Bar Style Ends Here */



.img-fluid{
  max-height: 43vh;
}

.header-img{
  position: center;
  height: 40vh;
  width: auto;
  margin-left:auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 1em;
}

.typewriter .wrap{
	color: var(--lime);
	font-family: 'Bebas Neue';
	letter-spacing: .1em;
	font-size: 1.3em;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 75% ;}
  animation-iteration-count: infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent ;}
  50% { border-color: var(--lime); }
  animation-iteration-count: infinite;
}

@media only screen and (max-width:980px){
  html , body{
    font-size: 0.8em;
  }

  .header-img{
    height: 30vh;
    padding-top: 0em;
    margin-top: 2em;
  }

  .top{
  	padding-top: 2.5em;
  }

  nav a{
  	width: 92%;
  }

  .text-center{
  	padding-top: 0;
  }
}

.about-text{
	text-align: justify;
	padding-left: 4%;
	padding-right: 4%;
}

.about-hncc{
	padding-bottom: 3em;
}

.about-hncc .card {
	margin-left: 8%;
	margin-right: 8%;
}

.about-hncc .card li{
	text-align: justify;
	list-style: none;
}

.tech-stacks li{
	text-transform: uppercase;
	box-shadow: 0 .4em 1em 0 rgba(0,0,0,0.2);
	padding-left: .4em;
	margin-left: 0;
	letter-spacing: .1em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: .4em;

	display: inline-block;
	margin-bottom: 1.5em;

    -webkit-animation-name:              shake;    
    -webkit-animation-duration:          4.5s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;


}


@-webkit-keyframes shake {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 }


.tech-stacks ul{
	text-align: center;
}

.about-hncc .card:hover{
	box-shadow: 0 1.5em 3em 0 rgba(0,0,0,0.2);
	color: black;
	transition: .8s;
}

.branchChart{
	width: 20em;
	height: auto;
	padding-right: 2em;
	padding-bottom: 4em;
}

.distChart{
	width: 20em;
	height: auto;
	padding-right: 2em;
	padding-bottom: 4em;
}

.carousel {
	margin:auto;
	margin:auto;
	width: 80%;
	height: auto;
	align-content: center;
}

.stats{
	border-top: .5em solid black;
}

.stat{
	margin-left: 2em;
	margin-right: 2em;
}

.stat .card{
	padding-top: 2em;
	padding-bottom: 2em;
	border:none;
	margin-left: auto;
}

.stat i{
	color: #607D8B;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}




















#events .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1.5em;
  
}

/* On mouse-over, add a deeper shadow */
#events .card:hover {
  box-shadow: 0 1.5em 3em 0 rgba(0,0,0,0.2);
}

.judges{
  background-color: rgb(224, 222, 224);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

img {
  border-radius: 5px 5px 0 0;
}

.about-hackatron{
  background-color: var(--lightest-color);
  padding-top: .5em;
  padding-bottom: 4em;
}

.about-hackatron img{
  padding-left: 2em;
  padding-right: 4em;
  padding-bottom: 1.5em;
}

.mascot{
  background-color: var(--dark-color);
  color:white;
  padding-top: 2em;
}

.mascot img{
  width:25em; 
  height:auto;
  padding-left: 2em;
  padding-right: 4em;
  padding-bottom: 1.5em;

}

#events{
  border-bottom: .4em solid black;
  box-shadow: 0 .2em 0 0 rgba(0,0,0,0.2);
}

.sec{
  background-color: var(--dark-color);
  color: #fffffb;
}

.prizes{
  background-color: var(--dark-color);
}

.sponsors .card{
  border-color: #fffffb;
  padding-top: 2em;
}

.faq{
  margin-bottom: 3em;
  background-color: var(--dark-color);
}

.faq h1 , .faq h2{
  color: var(--lightest-color);
}

.accordion{
  background-color: var(--dark-color);
  color: var(--lightest-color);
}

footer{
  padding-top:2.5em;
  text-align: center;
  padding-bottom: 2em;
}

footer a{
  color: var(--light-color);
}

footer a:hover{
  color: var(--lightest-color);
  text-decoration: none;
  font-size: 1.2em;
}

/*******************************************************************************************88
*****************************************************************************************************
				MEMBERS SECTION
******************************************************************************************************
*****************************              ***************************************************/


.team-header{
	text-align: center;
	color: var(--lightest-color);
	padding-top: 20vh;
	padding-bottom: 10vh;
	background-color: var(--dark-color);
}


.founders .card{
	border: none;
	margin-bottom: 1em;
	padding-bottom: 0em;
	padding-left: 1.3em;
	padding-right: 1.3em;
	padding-top: 1em;
	border-radius: 1em;
	filter: grayscale(100%);
}

.team-section img{
	width: 13em;
	margin:auto;
}


.team-section .card:hover{
	box-shadow: 0 1.5em 3em 0 rgba(0,0,0,0.2);
	transition: .5s;
	filter: none;
}

.team-section a{
	color: #b8b8d1;
}

.team-section a:hover{
	color: var(--dark-color);
}

.post-bearers .card{
	width: 10em;
	height: auto;
	border:none;
	padding: 0;
	margin:0;
	filter: grayscale(100%);
}

.post-bearers .card-columns{
	padding: 0em;
}

.post-bearers img{
	width: 13em;
	height: auto;
}

.img-responsive{
	width: 100%;
    height: 15vw;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {

	.founders .card{
		/*By this margin auto it is centering*/
		margin:auto;
	    margin-bottom: 1em;
	}
}



@media (max-width: 26em){
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin-left: 2em;
    }

    .hovereffect a.info{
    	font-size: 1.2em;
        padding: .1em .25em;
        border: .2px solid #fff;
        margin-right: .02em;
    }
}

@media (max-width: 18em){
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-left: 4em;
    }
}


@media (min-width: 26em){
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: auto;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(0) blur(0);
  -webkit-filter: grayscale(0) blur(0);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 1.1em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect h5 { 
  text-align: center;
  position: relative;
  font-size: .7em;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: var(--lightest-color);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: .15em .4em;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: rgb(0,0,0,0.5);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}









/*****************************






#particles-js{
	z-index: 1 ;
}

.layout-text{
	margin-top: 0em;
	padding-top: 2.8em;
} 

.logo-div{
	text-align: center;
	width:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.layout-logo{
	padding-left: 0.6em;
}


.former{
	font-weight: 300;
}

.social-links{
	text-align: center;
	width:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
.links{
	padding-left: 0.6em;
	text-decoration: none;
	color: inherit;
}

.links:hover{
	font-size: 1.3em;
	color: white;
}

.hackatron{
	padding-bottom: 3em;
}

.hackatron-btn{
	text-align: center !important;
	width:auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: .6em;
	padding-bottom: .6em;
	padding-left: 1.4em;
	padding-right: 1.4em;
	text-decoration: none !important;
	background-color: #2a0268 ;
	color: white !important;
	border-radius: 2em;

}

.hackatron-btn a{
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

.ht-para {
	font-weight: 400;
}

.hackatron-btn:hover{
	background-color: #6661ff;
}

.hackatron-btn img{
	padding-right: .2em;
}

.copyright{
	padding-bottom: 1.5em;
	margin-bottom: 0;
}



**********************************************/


/*****************************************************************************************************************
 							 NAVIGATION BAR
******************************************************************************************************************/




/******************


nav{
	width:100%;
	overflow: none; 
	display:flex;
	flex-wrap:nowrap;
	font-weight: 400;
	padding-top: .8%;
	padding-bottom: .8%;
}

.main-nav a{
	width: 100px;
	text-align: center;
	text-decoration: none;
	color:#E0E0E0;
	letter-spacing: .1rem;

}

nav ul {
	padding: 0;
	margin : 0;
	list-style: none;
	display: inline-block;
	/*display: flex;*/
	/*for display in single line ,like flexbox one step to responsive*/
	
}

/**************************************************************

nav li{
	float: left;
	margin-top:16px; 
	margin-left: .8em ;
	flex: auto;
	text-align: center;
	color:#F5F5F5;
	padding-left: 1px ;
	padding-right: 1px;
	display: inline-block;
}

.logo {
	width:32%;
}


.logo img {
	height: 64px ;
	width : 112px ;
	float: left;
	padding-left: 10%;
}

.main-nav a:hover {
	background:#D4E157;
	/*bg color whens cursor hoves*/
	transition: .5s ;
	text-transform: underline;
	position: relative;
	/*to be relative to logo*/
	text-transform: uppercase;
	color: #263238;
	border-radius: .1rem;
}

/**********************



.main-nav a:active {
  box-shadow: none;
  
  background:#D4E157;

}

/********STICKY NAVIGATION**************/


/*****************************************

.sticky-nav{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	box-shadow: 0 2px 2px #efefef;

	display:flex;
	flex-wrap:nowrap;
	background-color: white;
	opacity: 0.8;
	z-index: 1; /*priority first over every other element*/
}


/*************************************************

.sticky-nav a{
	color:#263238;
}


.mobile-nav-icon{
	display: none;
	float: left;
}


.mobile-nav-icon i{
	display: block;
	border:0px;
	padding-bottom: 0px;
	margin: 0px;
}




/****************************************************************************************************************************
 							 HEADER
*****************************************************************************************************************************/


/******************************************

header{
	background-image: linear-gradient(rgba(0 , 0 , 0 ,0.6) , rgba(0 , 0 , 0 ,0.4)) , url(images/bg2.jpg);
	
	/*-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 75% 90%, 50% 100%, 20% 86%, 0 100%, 0% 35%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 75% 90%, 50% 100%, 20% 86%, 0 100%, 0% 35%, 0 0); */
	
	height: auto;
	background-size: cover;
	background-position: center;
	overflow-y:none; 
}



/**************************************************

.title-box{
	position: absolute;
	top: 30%;
	left: 10%;
	text-align: left;
}

.about-us h1{
	margin-top: 0;
	margin-bottom: 20px;

}

.title-box h2{
	padding-bottom: 50px;  
	font-weight: 300 ; 
}

.title-box a {
	text-decoration: none;
	background-color: #689F38 ;
	padding: 5px;
	padding-left: 12px;
	padding-right: 12px;
	color:white;
	border-radius: 5px;

}

.title-box a:hover {
	background-color: #D4E157 ;
	color: #3b3b3b ;
	transition: background-color 0.2s;
}





svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}




/***********************************************************************************************************
 							 ABOUT US SECTION
***********************************************************************************************************/


/***********************************************888

.about-us{
	padding-left: 2%;
	padding-bottom: 10px;
	padding-top: 20px;
}

hr{
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	width:30%;
	align-content: center;
	background-color:#212121 ;
	opacity: 0.5;
	border:none;

}

.about-us h1{
	margin-top: 60px;
	color:#2c3e50;
	padding-top: 2%;
	text-align: center;
}

.about-us-title{
	text-align: center;
	font-weight: 400 ;
	color: #485460;
	padding-bottom: 5px;
}

.about-us-containers{
	display: flex;
	flex-wrap:wrap;
}

.our-motto{
	width:40%;
	/*for covering 40% part of that section or another content*/
	padding-left: auto;
	padding-right: 10%;
	text-align: left;
	float: left;
	display: block;
}

/***************************************************

.our-motto h2{
	color: #2c3e50;
	padding: 0px;
	text-align: center;
}

.our-motto img {
	width:13%;
	height: auto;
	padding:0px;
	border-collapse: collapse;
	display: block;
	padding-left: 37%;
}

.our-motto p{
	color: #485460;
}

.our-aim{
	width: 40%;
	/*width should be mentioned for both otherwise it wont float in left area*/
	float:left;
	padding-left: 10% ;
	display:block;
}

/****************************************************

.our-aim h2{
	color: #2c3e50;
}

.our-aim ul{
	color:#485460;
}
.our-aim img{
	width: 100%
	height:auto;
	padding-left: 25%

}


/************************************************************************
 							 OUR PROJECTS SECTION
************************************************************************/



/*********************************************

.our-projects{
	background: linear-gradient( 90deg , #FFEE58 ,#C0CA33  , #AFB42B , #689F38);
	/*since linear gradient is an image property 
	thus it doesnt work with background-color (text propert)*/	
	color: #485460 ;
	padding-top: 80px;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

/***********************************************

.our-projects img{
	width: 40%;
	height: auto;
	float: left;
	padding-left: 5% ;

}

.our-projects h1{
	text-align: center;
	padding-bottom: 3%;
}

.project-content{
	float:left;
	width:40%;
	padding-left: 10%;

}

.project-content a{
	text-decoration: none;
	background-color: #558B2F;
	padding: 5px;
	padding-left: 12px;
	padding-right: 12px;
	color:white;
	border-radius: 5px;
}

.project-content a:hover {
	background-color: #D4E157;
	color: #3b3b3b ;
	transition: background-color 0.2s;
}


/*************************************************************************************
						EVENTS SECTION
*************************************************************************************/



/*************************************************

.events{
	color: #485460 ;
	padding-top: 70px;
	padding-bottom:20px;
	height:120vh;
	
}

.events h1{
	text-align: center;
}

.events-content{
	float:left;
	width:40%;
	padding-left: 5%;
	padding-right: 15%;
	padding-top: 5%;
}

.events-content a {
	text-decoration: none;
	background-color: #558B2F;
	padding: 5px;
	padding-left: 12px;
	padding-right: 12px;
	color:white;
	border-radius: 5px;
}

.events-content a:hover {
	background-color: #D4E157 ;
	color: #3b3b3b ;
	transition: background-color 0.2s;
}

.events-image{
	position: relative;
}

.events-image img{
	float:left;
	width:35%;
	margin-top: 5%;
	height:auto;
	display: block;
	margin-bottom: 0;
}

.events-image img:hover { 
	transition: .5s;
	opacity:0.4;
}

.text{
	padding-left: 70%;
	font-size: 90%;
	float:left; 
	margin: 0, 0 , 0 ,0;
	margin-left: 0;
	position: absolute;
	margin-top: 17%;
	text-align: center;
	margin-right: 15%;
	visibility: hidden;
	color: #33691E;
	font-weight: 400;
}

.events-image:hover .text{
	visibility: visible;
	transition: .5s;
	opacity: 1;
}

/*
.upcoming-events{
	padding-top: 20px;
	padding-left: 5%;
	color: #485460 ;
	padding-top: 20px;
	padding-bottom:20px;
	height:100vh;
}

.upcoming-events h1{
	text-align: center;
	letter-spacing: .5rem;
}

.slider-container{
	width:75%;
	height: 75%
	height:auto; 
	overflow: hidden;
	top: 50%;
	left:50%;
}

.image-container{
	width:75%;
	height:90%; 
	position: relative;
	transition:left 2s;

}

.slider-image{
	margin:0px;
	padding: 0px;
	float: left;
	position: relative;
	top: 25%;
	left: 25%;
	box-shadow: 1px 2px 5px white;
	animation: slider 5s infinite linear;
}

@keyframes slider{
	0%{  }
	35%{  }
	75%{  }
}

*/


/*******************************************************************************************

footer{
	margin: 0;
	background: linear-gradient( 90deg ,#78909C ,#546E7A, #455A64 , #37474F);
	background-size: cover;
	color: #BDBDBD;
	max-height: 100%;
	padding-left: 5%;
	padding-bottom: 1%;
	padding-top: 2%;
	height: cover ;
	overflow-x: hidden;
	/*this hides overflow of content along x-axis*/
}


/*********************************************************

footer h2{
	text-transform: uppercase;
	letter-spacing: 0.10rem;
}

footer a{
	text-decoration: none;
	color: #BDBDBD;
}

.social-media{
	float:left;
}

.footer-content1{
	float:left;
	padding-left: 20%;
}

.footer-content1 li { 
	font-size: .8rem ;  
	list-style: none;
}

.footer-content2 {
	float:left;
	font-size: .8rem;
	padding-left:20%;
	height: 10vh;
	max-width:auto;
}

.map{
    position: relative; // This is the aspect ratio
    overflow: hidden;
    height: 20vh;
   	width:auto;

}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;

 }









 /**********************************************************************************************
 ****************************************************************************************


 								P R O J E C T S


 *****************************************************************************************
 *******************************************************************************************/						




/******************************************************************************


.projects-header{
	background: linear-gradient(0deg ,#D4E157 ,#C0CA33  , #689F38);
	background-size: cover;
	height: 130vh;

}

.projects-header-content {
	text-align: center;
	margin:0;
	padding-top:6rem; 
	
}

.projects-header-content h1{
	font-size: 3rem;
	color: #455A64;
}

.projects-header-content a{
	margin: 0;
	font-size: 1.5rem;
	margin-top: 10%;
	/*Better to use margin in case of padding because link is clickable till its padding*/
	text-align: center;
	text-decoration: none;
	color:#607D8B;
}




/*********************************************************

.graphics{
	height: 100vh;
	color: #455A64;
}

.graphics h1{
	text-align: center;
	margin-top: 20px;
	
}


.webd{
	height: 100vh;
	color: #455A64;
}

.webd h1{
	text-align: center;
	margin-top: 20px;
	
}

.android{
	height: 100vh;
	color: #455A64;
}

.android h1{
	text-align: center;
	margin-top: 20px;
	
}




.projects-links{
	margin-left: 15%;
	margin-right: 10%;
	width: 65%;

}


.projects-block a{
	float: left;
	text-decoration: none;
/*	padding: .1rem .1rem;   */
	font-size: 110%;
	border:1px solid blue;
	color:grey;
	background-color: #DCE775;
	padding: 3px 10px;

}

/*******************************************************

.projects-block a:active{
	background-color: #AFB42B;

}


.content{
	border:1px solid white;
	background-color: white;
	margin-left: 15%;
	margin-right: 10%;
	width: 75%;
}

.content video{
	align-content: center;
	padding-left: 10%;
}

.hidden{
	display:none;
}

.projects-info{
	color:#2c3e50;
	padding-left:2%;
	padding-right: 2%;
	text-align: center;
	padding-top: 3%;
	width:80%;
}

.projects-info a{
	margin-top:1%;
	margin-left:43%;
}



/********************************************************************
					MEMBERS PAGE

********************************************************************************/


/********************************************************************************************


.members-header{
	background: linear-gradient( 90deg , #FFEE58 ,#C0CA33  , #AFB42B , #689F38);
	height:65vh;
	color: #485460;
}

.members-header h1 {
	text-align: center;
	padding:.2rem;
}

.members-header h2{
	text-align: center;
	padding: .4rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.members-list{
	color:#485460;
	margin:0;
	height: 300vh;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
}



.col{
	width: 25%;
	float: left;
	border: 1px solid black;
	height: auto;
	/*Height is set to auto , so that border is set to auto adjustment*/
	align-content: center;
	text-align: center;
	padding:2% 2%;
	margin-left: 3%;
	margin-bottom: 3%;
}


/*************************************************************

.col:hover{
	transition: .01s;
	box-shadow: 1.5px 3px green;
}
.members-container img{
	height: 10rem;
	width: auto;
	border-radius: 80%;
}

